{% extends "/base.html.twig" %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="height: 850px;">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock body %}